<h1><%= @topic.title %></h1>

  <% @topic.comments.each do |c| %>
    <h2><%= c.comment %></h2>
    <a id="edit_comment" href="<%=edit_topic_comment_path(@topic.id, c.id)%>">Edit comment</a>
  <% end %>

<a id="new_comment" href="<%=new_topic_comment_path(@topic.id)%>">Add a comment</a>
